<br />
<br />
<br />
<form #regForm="ngForm" (ngSubmit)="login()">
   <div class="container">
      <h1 class="fs-1 fw-bold">ADMIN LOGIN</h1>
      <hr />
      {{ message }}
      <label for="email"><b>NAME</b></label>
      <input #name="ngModel" type="text" placeholder="Enter Name" name="mail" #ue="ngModel" required [(ngModel)]="adminLogin.id" minlength="5" />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
         <div *ngIf="name.errors?.['required']">Name is required.</div>
         <div *ngIf="name.errors?.['minlength']">Name must be at least 5 characters long.</div>
      </div>

      <label for="psw"><b>PASSWORD</b></label>
      <input #password="ngModel" type="password" placeholder="Enter Password" name="password" #up="ngModel" required [(ngModel)]="adminLogin.password" minlength="5" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
         <div *ngIf="password.errors?.['required']">Password is required.</div>
      </div>
      <hr />
      <button style="margin-left: 45%" type="submit" class="btn btn-success">LOGIN</button>
   </div>
</form>
