<div>
  <div class="jumbotron bg-dark" style="margin: 45px">
      <h2 style="text-align: center;padding-top: 5%; color: rgb(255, 255, 255);">Login</h2>
      <p style="text-align: center; color: rgb(255, 255, 255);">Enter the registered E-mail address and the password!</p>
      <form action="">
        <div class="container">
          <p style="text-align: center;padding-bottom: 20px; color: rgb(255, 255, 255);">
             E-mail <input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px;margin-left: 35px" ></p>
              </div>
         <div class="container">
          <p style="text-align: center; color: rgb(255, 255, 255);">
         Password <input type="text" name="email" placeholder="Password" required style="padding-right: 60px;margin-left: 15px"> <br>
          <button class="btn btn-primary" style="margin-top: 20px"> Login</button></p>          
        </div>
      

      </form>

  </div>



</div>