<img class="relative" src="../assets/background.jpg" alt="" width="100%" />
<div class="absolute">
   <strong><p style="text-align: center; font-size: xxx-large; color: rgb(15, 15, 14); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">WELCOME ADMIN</p></strong>

   <button (click)="gotoadminproducts()" class="btn btn-primary btn-lg">VIEW PRODUCTS</button>
   <button (click)="gotoaddproducts()" class="btn btn-primary btn-lg">ADD PRODUCTS</button>
   <button (click)="gotoadminviewcustomers()" class="btn btn-primary btn-lg">VIEW CUSTOMERS</button>
   <button (click)="gotohome()" class="btn btn-danger btn-lg">LOG OUT</button>
</div>
